/*css - animation for site*/

/*Анимация для кнопки - оставить заказ*/
@keyframes button_head{
    0%{
        width: 100%;
        height: 70px;
    }
    50%{
        height: 75px;
        width: 105%;
    }
    100%{
        height: 80px;
        width: 100%;
    }
}

/*Анимация для иконки телефона*/
@keyframes phone_anim{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}


.button_center{
    animation: button_head 4s infinite;
    height: 70px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 24px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    border:#FF4F00;
}
.button_center{
    background-image: linear-gradient(to right, #FF4F00, #e43603, #cc2d5d, #e85a19);
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
    border:#FF4F00;
}


.button_center:hover{
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}


.left-text-image > img{
    animation: phone_anim 3s infinite;
}
